<form class="form-signin">
  <div class="container">
    <div class="row">
      <div class="alert alert-dark" role="alert">
        {{joke.value}}
      </div><br>
    </div>
    <div class="row">
      <img class="mb-4" src="../assets/logo.jpg" alt="" width="300" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Ingresa tu cuenta</h1>
      <label for="inputUser" class="sr-only">Usuario</label>
      <input [(ngModel)]="user" [ngModelOptions]="{standalone: true}" type="text" id="inputUser" class="form-control"
        placeholder="Usuario" required autofocus>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" id="inputPassword"
        class="form-control" placeholder="Contraseña" required>
      <button type="button" class="btn btn-lg btn-danger btn-block" (click)="login()">Ingresar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019 - ® Marca registrada de The Bank of Nova Scotia, utilizada bajo
        licencia.</p>
    </div>
  </div>
</form>
